@import url('https://fonts.googleapis.com/css?family=Roboto');

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 14px;
}